<header>
  <h1 routerLink="/">{{ 'HOME.TITLE' | translate }}<span>42</span>-PokéAPI</h1>

  <div>
    <a routerLink="/auth" *ngIf="!isUserAuthenticated">{{ 'HOME.ENTER' | translate }}</a>
    <p *ngIf="isUserAuthenticated">{{ 'HOME.GREETINGS' | translate }} {{ userEmail }} </p>
    <a routerLink="/auth" *ngIf="isUserAuthenticated" (click)="handleLogout()">{{ 'HOME.LOGOUT' | translate }}</a>

    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
    </select>
  </div>
</header>
